body{

    background-color: lch(26.5% 58.33 38.73)

}

header{

    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color: gold;
}
.capa{
    color:black;
    font-size: 20px;
}

#livros{
    display: flex;
    padding-left: 200px;
}

.videos{

    display: flex;
    overflow: auto;
    gap: 10px;
}